.star-container {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    justify-content: center;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    transition: all 0.3s ease;
    flex-wrap: wrap;
}

.star-container + .star {
    margin-left: 0.5rem;
}

.star-container .star,
.star-container .star svg {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.star-container svg {
    z-index: 2;
}

.star {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.star svg {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-style: normal;
}

.rating {
    display: flex;
    align-items: center;
    justify-content: center;
}
.rating:focus {
    outline: none;
}

.rating.direction-rtl {
    direction: rtl;
}

.rating.direction-ltr {
    direction: ltr;
}

.rating.direction-rtl .star-container,
.star-container.direction-rtl {
    direction: rtl;
}

.star-container.direction-ltr {
    direction: ltr;
}

.rating.direction-rtl .star-container .star svg.star-half,
.star-container.direction-rtl .star svg.star-half,
.star.direction-rtl svg.star-half {
    transform: scale(-1, 1);
}

.rating.space-none .star {
    margin: 0px;
}

.rating.space-small .star {
    margin: 0 0.25rem;
}

.rating.space-medium .star {
    margin: 0 0.5rem;
}

.rating.space-large .star {
    margin: 0 0.75rem;
}

.rating.space-xlarge .star {
    margin: 0 1rem;
}

/**Label position starts **/
.rating.label-hidden .label-value {
    display: none;
}

.rating.label-hidden {
    display: block;
}

.rating.label-visible {
    display: flex;
}

.rating.label-top {
    flex-direction: column;
}

.rating.label-top .label-value + .star-container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0.5rem;
}

.rating.label-left .label-value {
    margin-left: 0.5rem;
    margin-right: 0;
}

.rating.label-right {
    flex-direction: row-reverse;
}

.rating.label-right .label-value {
    margin-left: 0;
    margin-right: 0.5rem;
}

.rating.label-bottom {
    flex-direction: column-reverse;
}

.rating.label-bottom .label-value {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0.5rem;
}

/**Label position end **/

.star svg.star-filled,
.star svg.star-half {
    opacity: 0;
}

.rating.disabled .star-container .star,
.star.disabled {
    opacity: 0.5;
    cursor: unset;
}

.rating.read-only .star-container .star {
    cursor: unset;
}
.rating.small .star,
.star.small {
    width: 10px;
    height: 9.5px;
}

.rating.medium .star,
.star.medium {
    width: 20px;
    height: 20px;
}

.rating.large .star,
.star.large {
    width: 35px;
    height: 33.3px;
}

.rating.xlarge .star,
.star.xlarge {
    width: 40px;
    height: 40px;
}

.rating.xxlarge .star,
.star.xxlarge {
    width: 50px;
    height: 50px;
}

.rating.color-default .star-container .star svg {
    fill: #999 !important;
}

.rating.hover:hover.hover-1 .star-container .star svg.star-filled,
.rating.hover:hover.hover-1 .star-container .star svg.star-half,
.rating.hover:hover.hover-2 .star-container .star svg.star-filled,
.rating.hover:hover.hover-2 .star-container .star svg.star-half,
.rating.hover:hover.hover-3 .star-container .star svg.star-filled,
.rating.hover:hover.hover-3 .star-container .star svg.star-half,
.rating.hover:hover.hover-4 .star-container .star svg.star-filled,
.rating.hover:hover.hover-4 .star-container .star svg.star-half,
.rating.hover:hover.hover-5 .star-container .star svg.star-filled,
.rating.hover:hover.hover-5 .star-container .star svg.star-half,
.rating.hover:hover.hover-6 .star-container .star svg.star-filled,
.rating.hover:hover.hover-6 .star-container .star svg.star-half,
.rating.hover:hover.value-1.half .star-container .star svg.star-filled,
.rating.hover:hover.value-1.half .star-container .star svg.star-half,
.rating.hover:hover.value-2.half .star-container .star svg.star-filled,
.rating.hover:hover.value-2.half .star-container .star svg.star-half,
.rating.hover:hover.value-3.half .star-container .star svg.star-filled,
.rating.hover:hover.value-3.half .star-container .star svg.star-half,
.rating.hover:hover.value-4.half .star-container .star svg.star-filled,
.rating.hover:hover.value-4.half .star-container .star svg.star-half,
.rating.hover:hover.value-5.half .star-container .star svg.star-filled,
.rating.hover:hover.value-5.half .star-container .star svg.star-half,
.rating.hover:hover.value-6.half .star-container .star svg.star-filled,
.rating.hover:hover.value-7.half .star-container .star svg.star-half,
.rating.hover:hover.value-8.half .star-container .star svg.star-half,
.rating.hover:hover.value-9.half .star-container .star svg.star-half,
.rating.hover:hover.value-10.half .star-container .star svg.star-half,
.rating.value-0.half
    .rating.hover.star:hover.value-1:nth-child(1)
    .star-container
    .star
    svg.star-filled,
.rating.value-0.half
    .rating.hover.star:hover.value-1:nth-child(1)
    .star-container
    .star
    svg.star-half,
.rating.value-0.half
    .rating.hover.star:hover.value-2:nth-child(1)
    .star-container
    .star
    svg.star-filled,
.rating.value-0.half
    .rating.hover.star:hover.value-2:nth-child(1)
    .star-container
    .star
    svg.star-half,
.rating.value-0.half
    .rating.hover.star:hover.value-3:nth-child(1)
    .star-container
    .star
    svg.star-filled,
.rating.value-0.half
    .rating.hover.star:hover.value-3:nth-child(1)
    .star-container
    .star
    svg.star-half,
.rating.value-0.half
    .rating.hover.star:hover.value-4:nth-child(1)
    .star-container
    .star
    svg.star-filled,
.rating.value-0.half
    .rating.hover.star:hover.value-4:nth-child(1)
    .star-container
    .star
    svg.star-half,
.rating.value-0.half
    .rating.hover.star:hover.value-5:nth-child(1)
    .star-container
    .star
    svg.star-filled,
.rating.value-0.half
    .rating.hover.star:hover.value-5:nth-child(1)
    .star-container
    .star
    svg.star-half,
.rating.value-0.half
    .rating.hover.star:hover.value-6:nth-child(1)
    .star-container
    .star
    svg.star-filled,
.rating.value-0.half
    .rating.hover.star:hover.value-6:nth-child(1)
    .star-container
    .star
    svg.star-half,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(2)
    .star-container
    .star
    svg.star-filled,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(2)
    .star-container
    .star
    svg.star-half,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(2)
    .star-container
    .star
    svg.star-filled,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(2)
    .star-container
    .star
    svg.star-half,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(2)
    .star-container
    .star
    svg.star-filled,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(2)
    .star-container
    .star
    svg.star-half,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(2)
    .star-container
    .star
    svg.star-filled,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(2)
    .star-container
    .star
    svg.star-half,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(2)
    .star-container
    .star
    svg.star-filled,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(2)
    .star-container
    .star
    svg.star-half,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(2)
    .star-container
    .star
    svg.star-filled,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(2)
    .star-container
    .star
    svg.star-half,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(3)
    .star-container
    .star
    svg.star-filled,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(3)
    .star-container
    .star
    svg.star-half,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(3)
    .star-container
    .star
    svg.star-filled,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(3)
    .star-container
    .star
    svg.star-half,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(3)
    .star-container
    .star
    svg.star-filled,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(3)
    .star-container
    .star
    svg.star-half,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(3)
    .star-container
    .star
    svg.star-filled,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(3)
    .star-container
    .star
    svg.star-half,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(3)
    .star-container
    .star
    svg.star-filled,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(3)
    .star-container
    .star
    svg.star-half,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(3)
    .star-container
    .star
    svg.star-filled,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(3)
    .star-container
    .star
    svg.star-half,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(4)
    .star-container
    .star
    svg.star-filled,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(4)
    .star-container
    .star
    svg.star-half,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(4)
    .star-container
    .star
    svg.star-filled,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(4)
    .star-container
    .star
    svg.star-half,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(4)
    .star-container
    .star
    svg.star-filled,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(4)
    .star-container
    .star
    svg.star-half,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(4)
    .star-container
    .star
    svg.star-filled,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(4)
    .star-container
    .star
    svg.star-half,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(4)
    .star-container
    .star
    svg.star-filled,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(4)
    .star-container
    .star
    svg.star-half,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(4)
    .star-container
    .star
    svg.star-filled,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(4)
    .star-container
    .star
    svg.star-half,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(5)
    .star-container
    .star
    svg.star-filled,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(5)
    .star-container
    .star
    svg.star-half,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(5)
    .star-container
    .star
    svg.star-filled,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(5)
    .star-container
    .star
    svg.star-half,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(5)
    .star-container
    .star
    svg.star-filled,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(5)
    .star-container
    .star
    svg.star-half,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(5)
    .star-container
    .star
    svg.star-filled,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(5)
    .star-container
    .star
    svg.star-half,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(5)
    .star-container
    .star
    svg.star-filled,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(5)
    .star-container
    .star
    svg.star-half,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(5)
    .star-container
    .star
    svg.star-filled,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(5)
    .star-container
    .star
    svg.star-half,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(6)
    .star-container
    .star
    svg.star-filled,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(6)
    .star-container
    .star
    svg.star-half,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(6)
    .star-container
    .star
    svg.star-filled,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(6)
    .star-container
    .star
    svg.star-half,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(6)
    .star-container
    .star
    svg.star-filled,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(6)
    .star-container
    .star
    svg.star-half,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(6)
    .star-container
    .star
    svg.star-filled,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(6)
    .star-container
    .star
    svg.star-half,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(6)
    .star-container
    .star
    svg.star-filled,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(6)
    .star-container
    .star
    svg.star-half,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(6)
    .star-container
    .star
    svg.star-filled,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(6)
    .star-container
    .star
    svg.star-half,
.star.empty svg.star-filled,
.star.empty svg.star-half {
    opacity: 0;
}

.rating.hover:hover.hover-1 .star-container .star svg.star-empty,
.rating.hover:hover.hover-2 .star-container .star svg.star-empty,
.rating.hover:hover.hover-3 .star-container .star svg.star-empty,
.rating.hover:hover.hover-4 .star-container .star svg.star-empty,
.rating.hover:hover.hover-5 .star-container .star svg.star-empty,
.rating.hover:hover.hover-6 .star-container .star svg.star-empty,
.rating.hover:hover.hover-7.star-container .star svg.star-empty,
.rating.hover:hover.hover-8 .star-container .star svg.star-empty,
.rating.hover:hover.hover-9 .star-container .star svg.star-empty,
.rating.hover:hover.hover-10 .star-container .star svg.star-empty,

.rating.hover:hover.value-1.half .star-container .star svg.star-empty,
.rating.hover:hover.value-2.half .star-container .star svg.star-empty,
.rating.hover:hover.value-3.half .star-container .star svg.star-empty,
.rating.hover:hover.value-4.half .star-container .star svg.star-empty,
.rating.hover:hover.value-5.half .star-container .star svg.star-empty,
.rating.hover:hover.value-6.half .star-container .star svg.star-empty,
.rating.hover:hover.value-7.half .star-container .star svg.star-empty,
.rating.hover:hover.value-8.half .star-container .star svg.star-empty,
.rating.hover:hover.value-9.half .star-container .star svg.star-empty,
.rating.hover:hover.value-10.half .star-container .star svg.star-empty,
.rating.value-0.half
    .rating.hover.star:hover.value-1:nth-child(1)
    .star-container
    .star
    svg.star-empty,
.rating.value-0.half
    .rating.hover.star:hover.value-2:nth-child(1)
    .star-container
    .star
    svg.star-empty,
.rating.value-0.half
    .rating.hover.star:hover.value-3:nth-child(1)
    .star-container
    .star
    svg.star-empty,
.rating.value-0.half
    .rating.hover.star:hover.value-4:nth-child(1)
    .star-container
    .star
    svg.star-empty,
.rating.value-0.half
    .rating.hover.star:hover.value-5:nth-child(1)
    .star-container
    .star
    svg.star-empty,
.rating.value-0.half
    .rating.hover.star:hover.value-6:nth-child(1)
    .star-container
    .star
    svg.star-empty,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(2)
    .star-container
    .star
    svg.star-empty,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(2)
    .star-container
    .star
    svg.star-empty,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(2)
    .star-container
    .star
    svg.star-empty,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(2)
    .star-container
    .star
    svg.star-empty,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(2)
    .star-container
    .star
    svg.star-empty,
.rating.value-1.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(2)
    .star-container
    .star
    svg.star-empty,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(3)
    .star-container
    .star
    svg.star-empty,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(3)
    .star-container
    .star
    svg.star-empty,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(3)
    .star-container
    .star
    svg.star-empty,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(3)
    .star-container
    .star
    svg.star-empty,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(3)
    .star-container
    .star
    svg.star-empty,
.rating.value-2.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(3)
    .star-container
    .star
    svg.star-empty,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(4)
    .star-container
    .star
    svg.star-empty,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(4)
    .star-container
    .star
    svg.star-empty,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(4)
    .star-container
    .star
    svg.star-empty,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(4)
    .star-container
    .star
    svg.star-empty,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(4)
    .star-container
    .star
    svg.star-empty,
.rating.value-3.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(4)
    .star-container
    .star
    svg.star-empty,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(5)
    .star-container
    .star
    svg.star-empty,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(5)
    .star-container
    .star
    svg.star-empty,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(5)
    .star-container
    .star
    svg.star-empty,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(5)
    .star-container
    .star
    svg.star-empty,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(5)
    .star-container
    .star
    svg.star-empty,
.rating.value-4.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(5)
    .star-container
    .star
    svg.star-empty,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-1:nth-child(6)
    .star-container
    .star
    svg.star-empty,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-2:nth-child(6)
    .star-container
    .star
    svg.star-empty,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-3:nth-child(6)
    .star-container
    .star
    svg.star-empty,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-4:nth-child(6)
    .star-container
    .star
    svg.star-empty,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-5:nth-child(6)
    .star-container
    .star
    svg.star-empty,
.rating.value-5.half
    .star-container
    .rating.hover.star:hover.value-6:nth-child(6)
    .star-container
    .star
    svg.star-empty,
.star.empty svg.star-empty {
    opacity: 1;
}

.rating.value-0.half .star:nth-child(1) svg.star-empty,
.rating.value-0.half .star:nth-child(1) svg.star-filled,
.rating.value-1.half .star-container .star:nth-child(2) svg.star-empty,
.rating.value-1.half .star-container .star:nth-child(2) svg.star-filled,
.rating.value-2.half .star-container .star:nth-child(3) svg.star-empty,
.rating.value-2.half .star-container .star:nth-child(3) svg.star-filled,
.rating.value-3.half .star-container .star:nth-child(4) svg.star-empty,
.rating.value-3.half .star-container .star:nth-child(4) svg.star-filled,
.rating.value-4.half .star-container .star:nth-child(5) svg.star-empty,
.rating.value-4.half .star-container .star:nth-child(5) svg.star-filled,
.rating.value-5.half .star-container .star:nth-child(6) svg.star-empty,
.rating.value-5.half .star-container .star:nth-child(6) svg.star-filled,

.rating.value-6.half .star-container .star:nth-child(7) svg.star-empty,
.rating.value-6.half .star-container .star:nth-child(7) svg.star-filled,

.rating.value-7.half .star-container .star:nth-child(8) svg.star-empty,
.rating.value-7.half .star-container .star:nth-child(8) svg.star-filled,

.rating.value-8.half .star-container .star:nth-child(9) svg.star-empty,
.rating.value-8.half .star-container .star:nth-child(9) svg.star-filled,

.rating.value-9.half .star-container .star:nth-child(10) svg.star-empty,
.rating.value-9.half .star-container .star:nth-child(10) svg.star-filled,

.rating.value-9.half .star-container .star:nth-child(10) svg.star-empty,
.rating.value-9.half .star-container .star:nth-child(10) svg.star-filled,

.rating.value-10.half .star-container .star:nth-child(11) svg.star-empty,
.rating.value-10.half .star-container .star:nth-child(11) svg.star-filled,

.star.half svg.star-empty,
.star.half svg.star-filled {
    opacity: 0;
}

.rating.value-0.half .star:nth-child(1) svg.star-half,
.rating.value-1.half .star-container .star:nth-child(2) svg.star-half,
.rating.value-2.half .star-container .star:nth-child(3) svg.star-half,
.rating.value-3.half .star-container .star:nth-child(4) svg.star-half,
.rating.value-4.half .star-container .star:nth-child(5) svg.star-half,
.rating.value-5.half .star-container .star:nth-child(6) svg.star-half,
.rating.value-6.half .star-container .star:nth-child(7) svg.star-half,
.rating.value-7.half .star-container .star:nth-child(8) svg.star-half,
.rating.value-8.half .star-container .star:nth-child(9) svg.star-half,
.rating.value-9.half .star-container .star:nth-child(10) svg.star-half,
.rating.value-10.half .star-container .star:nth-child(11) svg.star-half,
.star.half svg.star-half {
    opacity: 1;
}

.rating.hover:hover.hover-1
    .star-container
    .star:nth-child(-n + 1)
    svg.star-empty,
.rating.hover:hover.hover-1
    .star-container
    .star:nth-child(-n + 1)
    svg.star-filled,
.rating.hover:hover.hover-2
    .star-container
    .star:nth-child(-n + 2)
    svg.star-empty,
.rating.hover:hover.hover-2
    .star-container
    .star:nth-child(-n + 2)
    svg.star-filled,
.rating.hover:hover.hover-3
    .star-container
    .star:nth-child(-n + 3)
    svg.star-empty,
.rating.hover:hover.hover-3
    .star-container
    .star:nth-child(-n + 3)
    svg.star-filled,
.rating.hover:hover.hover-4
    .star-container
    .star:nth-child(-n + 4)
    svg.star-empty,
.rating.hover:hover.hover-4
    .star-container
    .star:nth-child(-n + 4)
    svg.star-filled,
.rating.hover:hover.hover-5
    .star-container
    .star:nth-child(-n + 5)
    svg.star-empty,
.rating.hover:hover.hover-5
    .star-container
    .star:nth-child(-n + 5)
    svg.star-filled,
.rating.hover:hover.hover-6
    .star-container
    .star:nth-child(-n + 6)
    svg.star-empty,
.rating.hover:hover.hover-6
    .star-container
    .star:nth-child(-n + 6)
    svg.star-filled,
.rating.hover:hover.hover-7
    .star-container
    .star:nth-child(-n + 7)
    svg.star-filled,
.rating.hover:hover.hover-8
    .star-container
    .star:nth-child(-n + 8)
    svg.star-filled,
.rating.hover:hover.hover-9
    .star-container
    .star:nth-child(-n + 9)
    svg.star-filled,
.rating.hover:hover.hover-10
    .star-container
    .star:nth-child(-n + 10)
    svg.star-filled,
.rating.value-1 .star-container .star:nth-child(-n + 1) svg.star-empty,
.rating.value-1 .star-container .star:nth-child(-n + 1) svg.star-filled,
.rating.value-2 .star-container .star:nth-child(-n + 2) svg.star-empty,
.rating.value-2 .star-container .star:nth-child(-n + 2) svg.star-filled,
.rating.value-3 .star-container .star:nth-child(-n + 3) svg.star-empty,
.rating.value-3 .star-container .star:nth-child(-n + 3) svg.star-filled,
.rating.value-4 .star-container .star:nth-child(-n + 4) svg.star-empty,
.rating.value-4 .star-container .star:nth-child(-n + 4) svg.star-filled,
.rating.value-5 .star-container .star:nth-child(-n + 5) svg.star-empty,
.rating.value-5 .star-container .star:nth-child(-n + 5) svg.star-filled,
.rating.value-6 .star-container .star:nth-child(-n + 6) svg.star-empty,
.rating.value-6 .star-container .star:nth-child(-n + 6) svg.star-filled,
.rating.value-7 .star-container .star:nth-child(-n + 7) svg.star-empty,
.rating.value-7 .star-container .star:nth-child(-n + 7) svg.star-filled,
.rating.value-8 .star-container .star:nth-child(-n + 8) svg.star-empty,
.rating.value-8 .star-container .star:nth-child(-n + 8) svg.star-filled,
.rating.value-9 .star-container .star:nth-child(-n + 9) svg.star-empty,
.rating.value-9 .star-container .star:nth-child(-n + 9) svg.star-filled,
.rating.value-10 .star-container .star:nth-child(-n + 10) svg.star-empty,
.rating.value-10 .star-container .star:nth-child(-n + 10) svg.star-filled,
.star.filled svg.star-empty,
.star.filled svg.star-filled {
    opacity: 0;
}

.rating.hover:hover.hover-1
    .star-container
    .star:nth-child(-n + 1)
    svg.star-filled,
.rating.hover:hover.hover-2
    .star-container
    .star:nth-child(-n + 2)
    svg.star-filled,
.rating.hover:hover.hover-3
    .star-container
    .star:nth-child(-n + 3)
    svg.star-filled,
.rating.hover:hover.hover-4
    .star-container
    .star:nth-child(-n + 4)
    svg.star-filled,
.rating.hover:hover.hover-5
    .star-container
    .star:nth-child(-n + 5)
    svg.star-filled,
.rating.hover:hover.hover-6
    .star-container
    .star:nth-child(-n + 6)
    svg.star-filled,
.rating.hover:hover.hover-7
    .star-container
    .star:nth-child(-n + 7)
    svg.star-filled,
.rating.hover:hover.hover-8
    .star-container
    .star:nth-child(-n + 8)
    svg.star-filled,
.rating.hover:hover.hover-9
    .star-container
    .star:nth-child(-n + 9)
    svg.star-filled,
.rating.hover:hover.hover-10
    .star-container
    .star:nth-child(-n + 10)
    svg.star-filled,
.rating.value-1 .star-container .star:nth-child(-n + 1) svg.star-filled,
.rating.value-2 .star-container .star:nth-child(-n + 2) svg.star-filled,
.rating.value-3 .star-container .star:nth-child(-n + 3) svg.star-filled,
.rating.value-4 .star-container .star:nth-child(-n + 4) svg.star-filled,
.rating.value-5 .star-container .star:nth-child(-n + 5) svg.star-filled,
.rating.value-6 .star-container .star:nth-child(-n + 6) svg.star-filled,
.rating.value-7 .star-container .star:nth-child(-n + 7) svg.star-filled,
.rating.value-8 .star-container .star:nth-child(-n + 8) svg.star-filled,
.rating.value-9 .star-container .star:nth-child(-n + 9) svg.star-filled,
.rating.value-10 .star-container .star:nth-child(-n + 10) svg.star-filled,
.star.filled svg.star-filled {
    opacity: 1;
}
